*.fits
*.fit
*.pdf
*.csv
/.ipynb_checkpoints/
/.vscode/
/linmix_folder/
/linmix
/Test_Scripts/
/Test_plots/
clustr.pyc
plotlib.pyc
reglib.pyc
/__pycache__/
*.txt
/Catalogs
*.jpg
/.idea/
/Redshift_Comparison/
/Published_Plots/
