# ======================================================================
#
# CluStR configuration file.
#
# Lines starting with '#' are ignored; all other lines must contain a
# Name : Value pair to be read into the parameters dictionary.
#
# Spencer Everett, UCSC, 3/2017
#
# ======================================================================

# ----------------------------------------------------------------------
# General
# --------

# Plots are currently cosmology dependent as luminosities are scaled by E(z)
Om: 0.3
H_0: 0.7

# Default observed data catalog:
default_catalog: SDSS-Jan-25-2017-merged.fits

# Default output file prexfix (includes x and y labels automatically)
default_prefix: TEST

# Default covariate variable (independent variable)
default_x: None

# Default response variable (dependent variable)
default_y: None

# Column name conventions:
# lambda : lambda
# l500kpc : 500_kiloparsecs_band_lumin
# lr2500 : r2500_band_lumin
# lr500 : r500_band_lumin
# lr500cc : r500_core_cropped_band_lumin
# t500kpc : 500_kiloparsecs_temperature
# tr2500 : r2500_temperature
# tr500 : r500_temperature
# tr500cc : r500_core_cropped_temperature

# ----------------------------------------------------------------------
# Methods
# --------

# Set which default regression method to use. `kelly` uses the `linmix`
# implementation of the Kelly method, `mantz` uses the `lrgs` implementation of
# the Mantz method, and `both` will calculate both regressions and compare them
# in various plots.
default_methods: kelly

# ----------------------------------------------------------------------
# Flags
# --------

# Set desired flag cuts. Cuts can be `boolean`, `range`, or `cutoff` in nature.
# For each type, indicate which values you want plotted (e.g. `True` or
# `False` for bool, `above` or `below` for cutoff, `inside` or `outside` for
# range).
#
# NOTE: Any given column can only be flagged as one type - not two!
#
# NOTE: These cutoffs and ranges are not used by default - ONLY if the
# corresponding flag is inputted on the command line.
#
# To add cutoff or range values for a desired flag, simply add the exact column
# name along with `_cut` or `_min/max` along with the value. `None` is only a
# placeholder for likely flags.

# Boolean:
overlap_r500_bool_type: False
overlap_r2500_bool_type: False
edge_exclude_r500_bool_type: False
edge_exclude_r2500_bool_type: False

# Cutoffs:
offset_r500_cut: None
offset_r500_cut_type: below
offset_r2500_cut: None
offset_r2500_cut_type: below

# Ranges:
redshift_range_min: 2.0
redshift_range_max: 3.5
redshift_range_type: inside


# ----------------------------------------------------------------------
# Plots
# --------

# Set which plots you want saved in the output .pdf file. Combines all plots
# into a single file unless `save_all_plots` is set to True.
scatter: True
corner: True
chains: True
residuals: True
save_all_plots: False

# Show the method name used in the scatter plot?
show_method_name: False

# Set burn in period for chain plots (currently only for Mantz)
burn: 0

# ======================================================================
