# ======================================================================
#
# CluStR configuration file.
#
# Lines starting with '#' are ignored; all other lines must contain a
# Name : Value pair to be read into the parameters dictionary.
#
# Spencer Everett, UCSC, 3/2017
#
# ======================================================================

# ----------------------------------------------------------------------
# General
# --------

# Plots are currently cosmology dependent as luminosities are scaled by E(z)
Om: 0.3
H_0: 0.7

#-----------------------------------------------------------------------
# Scale
#--------
#scale_x_by_ez : scale_x_by_ez
#scale_y_by_ez : scale_y_by_ez
#------------------------------------------------------------------------

# NB: Not all default options are implemented yet!

# Default observed data catalog:
default_catalog: None

# Default output file prexfix (includes x and y labels automatically)
default_prefix: Jose

# Default covariate variable (independent variable)
default_x: None

# Default response variable (dependent variable)
default_y: None

# Column name conventions:
lambda : lambda
l500kpc : 500_kiloparsecs_band_lumin
lr2500 : r2500_band_lumin
lr500 : r500_band_lumin
lr500cc : r500_core_cropped_band_lumin
t500kpc : 500_kiloparsecs_temperature
tr2500 : r2500_temperature
tr500 : r500_temperature
tr500cc : r500_core_cropped_temperature

# ----------------------------------------------------------------------
# Methods
# --------

# Set which default regression method to use. `kelly` uses the `linmix`
# implementation of the Kelly method, `mantz` uses the `lrgs` implementation of
# the Mantz method, and `both` will calculate both regressions and compare them
# in various plots.

default_methods: kelly

# ----------------------------------------------------------------------
# Flags
# --------

# Set desired flag cuts. Cuts can be `bool`, `range`, or `cutoff` in nature.
# For each type, indicate which values you want used in the analysis (e.g.
# `True`/`False` for bool, `above`/`below` for cutoff, `inside`/`outside` for
# range).
#
# NOTE: Any given column can only be flagged as one flag type - not more!
#
# NOTE: These flag cut values are not used by default.
#
# To add cutoff or range values for a desired flag, simply add the exact column
# name to the list with the suffix `_cut` or `_range_min/max` along with the
# cut value separated by a colon. Then on a new row, use the same column name
# with the suffix `_cut_type` or `_range_type` and specify the type.
#
# For bools, add the suffix `_bool_type` to the column name.

# cutoff example:
# offset_r500_cut : 0.5
# offset_r500_cut_type : below

#(UPDATE)
# *** Commenting out a bool flag is equivalent to not wanting that flag applied (False). 
# *** Removing the hashtag is equivalent to wanting the bool flag applied (True).
# *** Set to True to remove rows with value = 1. In general, True = 1 and False = 0.
#       This means rows with column flag label value = 1 will be removed from data. 

# Bools:
#Analyzed_bool_type : True
#bad_mode_bool_type : True
#Detected_bool_type : True
#edge_r500_bool_type : True
#edge_r2500_bool_type : True
#edge_bkgd_bool_type : True
merger_bool_type : True
#masked_bool_type : True
#overlap_r500_bool_type : True
#overlap_r2500_bool_type : True
#overlap_bkgd_bool_type : True
Serendipitous_bool_type : True

# Cutoffs:
r500_SNR_cut : 0.5
r500_SNR_cut_type : below
r2500_SNR_cut : 0.5
r2500_SNR_cut_type : below

# Ranges:
Redshift_range_min : 0.0
Redshift_range_max : 0.5
Redshift_range_type : inside

# ----------------------------------------------------------------------
# Plots
# --------

# Set which plots you want saved in the output .pdf file. Combines all plots
# into a single file unless `save_all_plots` is set to True.
scatter: False
corner: False
chains: False
residuals: False
save_all_plots: False

# Show the method name used in the scatter plot?
show_method_name: False

# Set burn in period for chain plots (currently only for Mantz)
burn: 0

# ----------------------------------------------------------------------
# Data
# --------

# The used data and regression parameters can be saved independent of plots
save_data: False
output_filename: Test1_lr2500_lambda

# ======================================================================
