# ======================================================================
#
# CluStR configuration file.
#
# Lines starting with '#' are ignored; all other lines must contain a
# Name : Value pair to be read into the parameters dictionary.
#
# Spencer Everett, UCSC, 3/2017
#
# ======================================================================

# ----------------------------------------------------------------------
# General
# --------

# Plots are currently cosmology dependent as luminosities are scaled by E(z)
Om: 0.3
H_0: 0.7

# Default observed data catalog:
default_catalog: SDSS-Jan-25-2017-merged.fits

# Default output file prexfix (includes x and y labels automatically)
default_prefix: TEST

# Default covariate variable ('independent' variable)
default_x: lambda

# Default response variable ('dependent' variable)
default_y: tr2500

# Column name conventions:
# lambda : lambda
# l500kpc : 500_kiloparsecs_band_lumin
# lr2500 : r2500_band_lumin
# lr500 : r500_band_lumin
# lr500cc : r500_core_cropped_band_lumin
# t500kpc : 500_kiloparsecs_temperature
# tr2500 : r2500_temperature
# tr500 : r500_temperature
# tr500cc : r500_core_cropped_temperature

# ----------------------------------------------------------------------
# Methods
# --------

# Set which default regression method to use. `kelly` uses the `linmix`
# implementation of the Kelly method, `mantz` uses the `lrgs` implementation of
# the Mantz method, and `both` will calculate both regressions and compare them
# in various plots.
default_methods: kelly

# ----------------------------------------------------------------------
# Flags
# --------

# Set desired flag cuts. Cuts can be `boolean`, `range`, or `cutoff` in nature.
# Bools are automatically handled; values for range and cutoff types must be set
# below. NOTE: These cutoffs and ranges are not used by default - only if the
# corresponding flag is inputted.
#
# To add cutoff or range values for a desired flag, simply add the exact column
# name along with `_cut` or `_min/max` along with the value.

# Cutoffs:
default_cut: None
offset_r500_cut: None
offset_r2500_cut: None

# Ranges:
default_min: None
default_max: None
redshift_min: 2.0
redshift_max: 3.5


# ----------------------------------------------------------------------
# Plots
# --------

# Set which plots you want saved in the output .pdf file. Combines all plots
# into a single file unless `save_all_plots` is set to True.
scatter: True
corner: True
chains: False
residuals: False
save_all_plots: False

# Show the method name used in the scatter plot?
show_method_name: False

# Set burn in period for chain plots
burn: 0

# ======================================================================
